@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h2: Inter;
  --font-zilla-slab: "Zilla Slab";
  --font-poppins: Poppins;
  --font-pt-serif: "PT Serif";
  --font-roboto: Roboto;
  --font-newsreader: Newsreader;

  /* font sizes */
  --h3-size: 24px;
  --font-size-lgi: 19px;
  --body-2-size: 20px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --h2-size: 25px;
  --font-size-lg-7: 18.7px;
  --font-size-3xl-4: 22.4px;
  --font-size-base: 16px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-16xl: 35px;
  --font-size-9xl: 28px;
  --font-size-mid-5: 17.5px;
  --font-size-lgi-9: 19.9px;
  --font-size-116xl: 135px;
  --font-size-35xl: 54px;
  --font-size-15xl: 34px;
  --font-size-36xl: 55px;
  --font-size-25xl: 44px;
  --font-size-14xl: 33px;

  /* Colors */
  --color-white: #fff;
  --color-cornflowerblue: #84a7ff;
  --highlight-head: #000;
  --body-dark: #464646;
  --color-darkslategray-100: #3f3f3f;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #323232;
  --color-darkslategray-400: #2d2d2d;
  --color-gold: #ffd600;
  --color-darkslateblue-100: #0e224d;
  --color-darkslateblue-200: #00225d;
  --color-gainsboro-100: #e4e4e4;
  --color-gainsboro-200: #ddd;
  --color-gray-100: #898989;
  --color-gray-200: #7b7b7b;
  --color-gray-300: #777;
  --color-gray-400: #000b1d;
  --color-darkgray-100: #a4a2a5;
  --color-darkgray-200: #969696;
  --color-dimgray-100: #525252;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f7f7f7;
  --color-whitesmoke-300: #f4f4f4;
  --color-whitesmoke-400: #eee;
  --color-lightgray: #cfcfcf;
  --color-mediumblue: #0040e6;
  --color-deepskyblue-100: #00b3ff;
  --color-deepskyblue-200: #00b2ff;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-19xl: 38px;
  --gap-sm: 14px;
  --gap-8xs: 5px;
  --gap-21xl: 40px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-242xl-3: 261.3px;
  --gap-46xl: 65px;
  --gap-14xl: 33px;
  --gap-112xl: 131px;
  --gap-4xs: 9px;
  --gap-20xl-1: 39.1px;
  --gap-8xs-6: 4.6px;
  --gap-4xs-5: 8.5px;
  --gap-3xl-6: 22.6px;
  --gap-8xs-2: 4.2px;
  --gap-lgi: 19px;
  --gap-8xl-3: 27.3px;
  --gap-22xl: 41px;
  --gap-172xl-6: 191.6px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-21xl-1: 40.1px;
  --gap-5xs: 8px;
  --gap-71xl: 90px;
  --gap-96xl: 115px;
  --gap-38xl: 57px;
  --gap-10xl: 29px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-30xl: 49px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-7xs: 6px;
  --gap-2xl: 21px;
  --gap-lg: 18px;
  --gap-122xl: 141px;
  --gap-4xl-1: 23.1px;
  --gap-106xl: 125px;
  --gap-12xl: 31px;
  --gap-base: 16px;
  --gap-43xl: 62px;
  --gap-55xl: 74px;
  --gap-18xl: 37px;
  --gap-11xs: 2px;
  --gap-48xl: 67px;
  --gap-7xl-4: 26.4px;
  --gap-12xs: 1px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-11xl: 30px;
  --gap-44xl: 63px;

  /* Paddings */
  --padding-88xl: 107px;
  --padding-51xl: 70px;
  --padding-xl: 20px;
  --padding-mid: 17px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-11xs: 2px;
  --padding-54xl: 73px;
  --padding-133xl: 152px;
  --padding-17xl: 36px;
  --padding-18xl: 37px;
  --padding-6xs: 7px;
  --padding-5xl: 24px;
  --padding-49xl: 68px;
  --padding-55xl: 74px;
  --padding-48xl-1: 67.1px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-16xl: 35px;
  --padding-62xl: 81px;
  --padding-lg: 18px;
  --padding-base-8: 16.8px;
  --padding-5xs: 8px;
  --padding-18xl-5: 37.5px;
  --padding-3xl: 22px;
  --padding-107xl: 126px;
  --padding-105xl: 124px;
  --padding-57xl: 76px;
  --padding-14xl-6: 33.6px;
  --padding-55xl-5: 74.5px;
  --padding-15xl: 34px;
  --padding-29xl: 48px;
  --padding-120xl: 139px;
  --padding-125xl: 144px;
  --padding-50xl: 69px;
  --padding-53xl: 72px;
  --padding-103xl-4: 122.4px;
  --padding-61xl: 80px;
  --padding-56xl: 75px;
  --padding-37xl: 56px;
  --padding-8xl: 27px;
  --padding-87xl: 106px;
  --padding-162xl: 181px;
  --padding-71xl: 90px;
  --padding-46xl: 65px;
  --padding-4xl: 23px;
  --padding-81xl: 100px;
  --padding-base: 16px;
  --padding-7xl: 26px;
  --padding-63xl: 82px;
  --padding-21xl: 40px;
  --padding-40xl: 59px;
  --padding-41xl: 60px;
  --padding-6xl: 25px;
  --padding-36xl: 55px;
  --padding-86xl: 105px;
  --padding-110xl: 129px;
  --padding-13xl: 32px;
  --padding-34xl: 53px;
  --padding-45xl: 64px;
  --padding-9xl: 28px;
  --padding-smi: 13px;
  --padding-20xl: 39px;
  --padding-4xs-1: 8.1px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-mini: 15px;
  --padding-65xl: 84px;
  --padding-28xl: 47px;
  --padding-90xl: 109px;
  --padding-121xl: 140px;
  --padding-89xl-3: 108.3px;
  --padding-42xl: 61px;
  --padding-137xl: 156px;
  --padding-82xl: 101px;
  --padding-8xl-4: 27.4px;
  --padding-11xs-6: 1.6px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-sm-6: 13.6px;
  --br-10xs-1: 2.1px;
  --br-2xs-5: 10.5px;
  --br-8xs: 5px;
  --br-9xs-1: 3.1px;
  --br-9xs-7: 3.7px;
  --br-mini-6: 14.6px;
  --br-20xl: 39px;
  --br-21xl: 40px;
  --br-13xl: 32px;
  --br-12xl: 31px;
  --br-49xl: 68px;
  --br-12xs-2: 0.2px;
  --br-12xs-3: 0.3px;
  --br-10xs-2: 2.2px;
  --br-11xs-1: 1.1px;
  --br-25xl-5: 44.5px;
  --br-lgi: 19px;
  --br-338xl-5: 357.5px;
}
